/* Replaced all the p tags with h6 */

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
  }
 
  h1 {
	padding: 8px;
	background: rgba(255, 0, 0, 0.8);
	border-radius: 8px;
	margin: 0;
	font-size: 64px;
	font-family: "Roboto Slab", serif;
  }
  

  h6{
	line-height: 1.5;
  }
  
  main {
	margin: 0 auto;
  }
  
  a {
	text-decoration: none;
	color: black;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
 /* Navigation bar */
 nav {
	height: 69px;
	background: #202125;
	width: 100%;
	margin: 0;
	position: fixed;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	padding: 0 16px 0 0;
	box-sizing: border-box;
	z-index: 100;
	
  }
  
  nav a {
	padding: 0 32px;
	color: #eee;
	transition: 0.4s;
  }
  
  nav a:hover {
	text-decoration: none;
	color: red;
  }
  
  nav ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	margin: 0;
  }
  
  .active {
	color: #f783ae;
  }
  
  #logo-img {
	display: flex;
	height: 100%;
	background: #111;
	padding: 0 32px;
	align-items: center;
	color: white;
	transition: 0.4s;
  }
  
  #logo-img img {
	height: 100px;
  }
  
  #logo-img:hover {
	background: black;
  }
  
  #menu-icon {
	height: 100%;
	font-size: 28px;
	padding: 0 4px;
	color: #eee;
	display: none;
	align-items: center;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #202125;
	min-width: 160px;
	box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
  }
  
  .dropdown-content a {
	color: whitesmoke;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .dropdown-content a:hover {
	text-decoration: none;
	background-color: lightblue;
  }
   
  /* 15/6/2020 Download App Button modified */
  .navigation{
    background: yellowgreen;
    justify-content: center;
    color: #fff;
  }

  .navigation:hover{
    background: rgb(197, 214, 162);
    transition: 0.2s;
  }

  /* end of 15/6/2020 Download App Button modified */

  /* Slideout Menu */
  
  #slideout-menu {
	display: none;
	background: #2d3436;
	z-index: 100;
	position: fixed;
	transition: 0.4s;
	margin-top: 72px;
	width: 100%;
	text-align: center;
	opacity:0;
	pointer-events:none;
  }
  
  #slideout-menu ul {
	list-style: none;
	padding: 0 32px;
  }
  
  #slideout-menu ul li {
	padding: 8px;
  }
  
  #slideout-menu a {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	color: white;
  }
  
  #slideout-menu input {
	width: 85%;
	padding: 8px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	text-align: center;
  }
  


 /* Backgroun Image 15/06/2020 */

 .background {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.2) url("images/girl.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	color: lightcoral;
  }
  
  .background h6 {
	border-radius: 8px;
	padding: 0 24px;
	font-size: 24px;
  } 

  /*End of background Image 15/16/2020 */
  
 /* Box code modified on 12/6/2020 */
  .container1{
	  display: flex;
	  flex-wrap: wrap;
	  position: absolute;
	  top: 25vmin;
	  padding-left: 50vmax;
	  border-radius: 10px;
  }

  .container1 .box1{
	  position: relative;
	  width: 350px;
	  padding: 40px;
	  background: rgb(16, 16, 68);
	  opacity: 0.85;
	  border-radius: 2px;
	  box-sizing: border-box;
  }

  .container1 .box1 .content1 h3{
	  font-size: 4vh;
	  padding: 0;
	  font-family: Arial, Helvetica, sans-serif;
	  font-weight: bolder;
	  color: rgb(230, 138, 27);
  }

  .container1 .box1 .content1 h6{
	font-size: 2vh;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: rgb(235, 204, 158);
  }

  .container1 .box1 .content1 a{
	  display: inline-block;
	  padding: 2vmin 4vmin;
	  background: aqua;
	  text-decoration: none;
	  color: #000;
	  font-weight: 500;
	  margin-top: 20px;
	  box-shadow: 0 2pz 5px rgba(0, 0, 0, 0.2);
  }

  

  
 /* Section 1 */

.section-1 {
	height: 20em;
	background: rgb(26, 88, 112);
  } 
  .section-1 {
    height: inherit;
    padding: 10vmin !important;
  }
  #eligibility{
	  font-size: 4.5vmin;
	  font-weight: bold;
	  color: whitesmoke;	  
  }


  /********** section 2 **************/

 .section-2 {
	padding: 0vmin 0vmin 0vmin 0vmin;
  }
  
  .section-2 .row .col-md-6 .pray img {
	opacity: 0.8;
	width: 200%;
	height: 180%;
	border-radius: 0.2em;
  }
  
  .section-2 .row .col-md-6:last-child {
	position: relative;
  }
  
  .section-2 .row .col-md-6 .panel {
	position: absolute;
	top: 7vmin;
	left: -18vmin;
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 13vmin 5vmin 20vmin 10vmin;
	box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
	font-family: var(--Rubik);
	z-index: 1;
  }
  
  .section-2 .row .col-md-6 .panel h2 {
	font-weight: bold;
	padding: 0.4em 0;
	font-size: 2em;
	color: rgba(180, 99, 33, 0.836);
  }
  
  .section-2 .row .col-md-6 .panel h6 {
	font-size: 1em;
	font-weight: bold;
	color: rgb(37, 6, 6);
  }

  .section-2 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }


  /*  Section 3  */
  .section-3 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

.cover {
	width: 100%;
	height: 55vmin;
	background: url("images/building.jpg");
	background-position: -24rem -19rem;
	background-size: 150%;
	position: relative;
  }
  
  .cover .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
  }
  
  .cover .content {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 19vmin;
  }
  
  .cover .content > h1 {
	font-family: var(--Patua);
	font-size: 6vmin;
	color: whitesmoke;
  }
  
  .cover .content > h6 {
	font-family: var(--Rubik);
	font-size: 5vmin;
	color: #e5e5e5;
  }
  
  .numbers .rect {
	position: relative;
	z-index: 1;
	background: white;
	width: 19rem;
	height: 16rem;
	padding-top: 3.5vmin;
	margin: 1rem;
	border-radius: 0.5em;
	box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
  }
  
  .numbers {
	margin-top: -15vmin;
  }
  
  .numbers .rect h1 {
	font-size: 5rem;
	color: tomato;
  }
  
  .numbers .rect > h6 {
	font-family: var(--Patua);
  }

  .section-3 .fa-download{
	  color: black;
	  transition: 0.45s;
  }
  .section-3 .fa-heart{
	color: rgb(204, 23, 23);
	transition: 0.45s;
  }
  .section-3 .fa-star{
	color: goldenrod;
	transition: 0.45s;
  }

  /* section-4 */

   .bg{
	  background: url("images/blue.jpg") no-repeat;
	  width: 100%;
	  height: 100vh;
	  
  }

  .form-container{
	  position: absolute;
	  top: 5vmin;
	  background-color: #fff;
	  padding: 30px;
	  border-radius: 10px;
  }


  /* Footer */
  
  footer {
	background: black;
	padding: 8px;
	color: #eee;
	display: flex;
  }
  
  footer a {
	color: white;
  }
  
  footer #left-footer {
	flex: 1;
	border-right: 1px solid black;
	padding-left: 32px;
  }
  
  footer #left-footer ul {
	padding: 0;
	list-style: none;
	line-height: 1.5;
  }
  
  footer #right-footer {
	flex: 2;
	padding: 8px;
	text-align: center;
  }
  
  footer #social-media-footer a .fa-facebook,
  footer #social-media-footer a .fa-youtube,
  footer #social-media-footer a .fa-twitter
  footer #social-media-footer a .fa-instagram {
	color: white;
	transition: 0.4s;
  }
  
  footer #social-media-footer ul {
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0;
  }
  
  footer #social-media-footer ul li {
	font-size: 48px;
	padding: 16px;
	transition: 0.4s;
  }
  
  footer #social-media-footer ul li:hover a .fa-youtube {
	color: red;
  }
  
  footer #social-media-footer ul li:hover a .fa-facebook {
	color: #3b5998;
  }
  footer #social-media-footer ul li:hover a .fa-twitter {
	color: rgb(124, 203, 230);
  }
  footer #social-media-footer ul li:hover a .fa-instagram {
	color: rgb(199, 61, 61);
  }
  
  
  /* Media Queries */
 
  @media (max-width: 900px) {
	nav ul {
	  display: none;
	}
  
	#menu-icon {
	  display: flex;
	}
  
	#slideout-menu {
	  display: block;
	}
	#sidebar{
	  display: none;
	}
  }
  
  @media (max-width: 719px) {
	main {
	  width: 100%;
	}
  
	footer {
	  flex-direction: column;
	  text-align: center;
	}
  
	footer #left-footer {
	  flex: 1;
	  border-right: 0;
	  padding-left: 0;
	}
  
	footer #right-footer {
	  background: #eee;
	  color: black;
	}
  
	footer #right-footer a {
	  color: black;
	}
  
	footer #social-media-footer a .fa-facebook,
	footer #social-media-footer a .fa-youtube,
	footer #social-media-footer a .fa-github {
	  color: black;
	  transition: 0.4s;
	}
  }
  

  
  @media (max-width: 600px) {
	main {
	  width: 100%;
	}

	#logo-img {
	  padding: 0;
	} 

  }

  @media (min-width: 720px) {
	main {
	  width: 100%;
	}
  }
  
  @media (min-width: 1200px) {
	main {
	  width: 100%;
	}
  }
